/* CSS declarations go here */
.hidden_div{
	display:none;
}

#login-dropdown-list {
	left: -160px;
}

#login-dropdown-list .login-close-text {
	float: right;
}

#new_website {
	margin-bottom: 10px;
}

#website_form {
	margin-bottom: 50px;
}

.list-group-item {
    display: list-item;
		list-style: decimal inside;
}

.website_title {
	font-size: 1.5em;
}

.date {
	font-weight: bold;
}

.short_date {
	font-size: 0.8em;
}

/* Search input */
.stylish-input-group {
	margin-bottom: 10px;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}

.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}

.stylish-input-group #searchbox {
	height: 35px;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.stylish-input-group button span {
	color: #337ab7;
}
